@model IEnumerable<Bakalarska_prace.Models.Entities.Sales>

@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <div class="element">
        <h1 class="display-4">Sales</h1>
    </div>
</div>
<div>
    <a asp-action="Create">Vytvoření Sales</a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Sale_date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cars_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customers_id)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sale_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cars_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customers_id)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a asp-action="Delete" asp-route-ID="@item.Id" onclick="return ConfirmDelete();">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>